{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer">
    <section>
        {{ partial "menu" . }}
        <p class="copyright">
            Note: Packages named GetEnvoy are no longer maintained due to trademark issues with the Linux Foundation.
            Please check <a href="https://github.com/envoyproxy/envoy/issues/16867">here</a> for status on official packages.
        </p>
        <p class="copyright">
            Envoy® is a registered trademark of The Linux Foundation in the United States and/or other countries
        </p>
    </section>
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<!--[if lte IE 8]>
<script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}js/custom.js"></script>
<script src="{{ .Site.BaseURL }}js/form.js"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
{{ end }}
