
<div id="quickstart-container">
  <div id="quickstart">
    <div id="quickstart-cli">
      <h2>Install and run Envoy® using func-e (pronounced funky)</h2>
      <pre>
        <code class="language-sh">$ curl -L https://func-e.io/install.sh | bash -s -- -b /usr/local/bin <br />$ func-e run --config-yaml "admin: {address: {socket_address: {address: '127.0.0.1', port_value: 9901}}}"</code>
      </pre>
      <a href="https://func-e.io">Learn more</a>
    </div>
    <div id="quickstart-binary">
      <h2><a href="https://www.envoyproxy.io/docs/envoy/latest/start/install">Install Envoy® using official documentation</a></h2>
    </div>
  </div>
  <div id="or-button">
    or
  </div>
</div>
