{{ $section := where $.Site.RegularPages "Type" "tutorial"}}
{{ $url := .URL }}

{{ $rel := (.URL | relURL) }}
{{ $tutorialRel := ("/tutorials/" | relURL) }}
<!-- don't ask... -->

<h4>
    <a class="{{ if eq $rel $tutorialRel }}active{{ end }}" href="/tutorials/">Tutorials</a>
</h4>
<ul class="tutorials">
    {{ range $section }}
    <li class="{{ if eq $url .URL }}active{{ end }}"><a href="{{ .Permalink | relURL }}" class="{{ .Params.tutorials }}">
        {{ .Params.title }}
    </a></li>
    {{ end }}
</ul>


