<section class="about">
	<header class="major">
		{{ if .Site.Params.about.logo }}<h1 class="logo">{{ .Site.Params.about.logo }}</h1>{{ end }}
		{{ with .Site.Params.about.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
		{{ if .Site.Params.about.subtitle }}<h3>{{ .Site.Params.about.subtitle }}</h3>{{ end }}
	</header>
	{{ with .Site.Params.about.content }}<p>{{ . | markdownify }}</p>{{ end }}

	{{ if .Site.Params.about.cta }}
		<div class="cta buttons">
		{{ range .Site.Params.about.cta}}
			<a class="btn btn-primary" href="{{ .href }}">{{ .title }}</a>
		{{ end }}
		</div>
	{{ end }}
	{{ if .Site.Params.about.version }}
		<p class="version">GetEnvoy <strong>{{ .Site.Params.about.version }}</strong> is now available </p>
		<p class="change-log"><a href="#">Read the changelog</a></p>
	{{ end }}
</section>
