<nav class="top menu" id="show-menu">
    <div class="pop-toggle">
        <a class="material-icons menu" href="#show-menu">menu</a>
        <a class="material-icons close" href="#hide-menu">close</a>
    </div>
    <a class="home" href="/">GetEnvoy</a>
    <ul>
        <li><a href="/install">Install</a></li>
        <li><a href="/reference/getenvoy/">Reference</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/github">GitHub</a></li>        
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
