<nav class="top menu">
    <a class="home" href="/">GetEnvoy</a>
    <ul>
        <!-- <li><a href="/platforms">Platforms</a></li> -->
        <!-- <li><a href="/platforms">Documentation</a></li> -->
        <!-- <li><a href="/platforms">Blog</a></li> -->
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/tetratelabs/getenvoy/issues/new/choose">Feedback</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li><a href="/platforms">Install</a></li>
    </ul>
</nav>
