
<section class=" platforms">
    
    {{ if and ( eq .Kind "section") (eq .Section "platforms") }}
    <h3>Choose your platform</h3>
    {{ else }}
    <h4>Platforms</h4>
    {{end}} 
    
    
    {{ $activePage := .Params.platform }}
    {{ $section := where $.Site.RegularPages "Section" "platforms"}}
        {{ if .IsHome }}<p class="count">Envoy binaries available on {{ len $section }} platforms</p> {{  end }}
        <ul>    
            {{ range $section }}
            <li {{  if eq .Params.platform $activePage }} class="active" {{ end }}><a href="{{ .Permalink | relURL }}" class="package-platform {{ .Params.platform }}">
                <h3 style="background-image:url({{ .Params.logo | safeCSS   }})" class="title">{{ .Title }}</h3>
            </a></li>
            {{ end }}
        </ul>
            <p>More coming soon</p>

</section>
