<section class="subscribe color-row ">
    <h3>Subscribe to GetEnvoy to stay up-to-date</h3>
    <<form  class="micro inline" action="https://tetrate.us20.list-manage.com/subscribe/post?u=42e1bfd57ff5cad06267c6d79&amp;id=f6fd4a4786" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll"></div>
        <label>Email address 
                <input type="email" placeholder="Corporate email" value="" name="EMAIL" class="email" id="mce-EMAIL" />
        </label>
        <input type="hidden" value="GetEnvoySite" name="FNAME" />
        <input type="hidden" value="GetEnvoySite" name="LNAME" />
        <input type="hidden" value="GetEnvoySite" name="ROLES" />
        <input type="hidden" value="32" name="group[1937][32]" />
        <submit tabindex="0" id="my-submit" class="icon fa-envelope-o">submit</submit>
    </form>
</section>


