<section id="why">

        <h3>Why GetEnvoy</h3>
<p>The IT industry is abuzz with the promise of microservices based architectures. GetEnvoy addresses the challenges of modernization by bridging the gap between existing apps and infrastructure and the revolutionary Envoy Proxy.</p>
<p>GetEnvoy offers a means of installing Envoy on the internet’s most used platforms. You can get started with simple turn-key instructions and begin using the Envoy Proxy immediately. We have further taken the worry out of choosing between the cutting edge and stability by packaging the ideal versions and component sets for each platform. You can start experiencing the future of distributed computing, today. </p>
</section>