<section id="why">

        <h3>Why GetEnvoy</h3>
        <p>Envoy is a great edge and service proxy and with its rich set of L7 features, its a great candidate for use for north-south as well as east-west communications. But unfortunately it is not easy to start using it on any infrastructure and once you start using, it is not straightforward to know if the binary you are using is safe, performant and compliant. The goal with GetEnvoy is to build these gaps with Envoy community. </p>
</section>