<section id="why">
        <h3>Why GetEnvoy</h3>
        <p>Envoy is an edge and service proxy with powerful features for controlling, securing and observing what’s going on in a large, distributed system of heterogenous components. 
           But there’s still a lot of work left to make Envoy adoption and lifecycle management easier, with consistent tooling. This makes it difficult to build, deploy and maintain a fleet of Envoy instances easily. The goal of the GetEnvoy project is to work with the Envoy community to address these issues and make Envoy adoption easier. We’re working with end-users, vendors and cloud providers to build tooling that provides general solutions to Envoy lifecycle problems that can be leveraged by the wider community.
</p>
</section>
