{{ define "main" }}
    
    <div class="platform-box">
        <nav>
            {{ partial "platform-nav.html" . }}
            {{ partial "tutorial-nav.html" . }}
            {{ partial "blog-nav.html" . }}
        </nav>
        <section class="body single">
			{{ .Content }}

			{{ if eq .Section "platforms" }}
			{{ $steps:= where $.Site.RegularPages "Section" "tutorials"}}
			<section class="next-steps">
				<h3>Next steps</h3>
				{{ range sort $steps ".Params.orderweight"}}
				<a href="{{ .Permalink | relURL }}" class="next-step">
					<h4>{{ .Title }}</h4>
					<p>{{ .Summary }}</p>
				</a>
				{{ end }}
	
			</section>
			{{ end }}

        </section>
    </div>
    
{{ end }}

